.player .card-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    padding: 0;
    overflow: hidden;
}

.player_window {
    position: relative;
    display: flex;
    width: 100%;
    overflow: hidden;
    padding: 0;
}

.video_player {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}

.player_controls {
    display: flex;
    align-items: center;
    padding: 0 1em 1em 1em;
    gap: 1em;
    width: 100%;
}

.playback_controls {
    display: flex;
    gap: 0.25em;
    justify-content: center;
    cursor: pointer;
}

/* MEDIA CONTROL STYLES */
.controls {
    background: rgba(0,0,0,0.5);
    border-radius: 16px;
    padding: 1em;
}





@media screen and (max-width: 1536px) {
}

@media screen and (max-width: 1280px) {
    .browser {
        flex-direction: column;
        gap: 2em !important;
    }

    .controls {
        flex-direction: row;
        gap: 1em !important;
    }

    .header {
        display: none;
    }

    .play {
        gap: 1em !important;
    }

    
}

@media screen and (max-width: 768px) {
    .tps__media_controls {
        flex-direction: column;
    }
    .tps__media_items {
        display: none;
    }

    .tps__media_header {
        display: flex;
        flex-direction: row;
        gap: 1em !important;
        justify-content: center !important;
    }
}

@media screen and (max-width: 640px) {
    .tps__text {
        font-size: 16px;
    }
}