.hobbies {
	display: flex;
	flex-direction: column;
	min-width: max-content;
	flex-grow: 1;
}

.hobbies-content {
	display: flex;
	flex-direction: column;
	text-align: left;
	min-width: max-content;
}

.hobbies-img {
	display: flex;
	justify-content: space-around;
	margin-top: 1em;
	width: 100%;
}

.hobbies-img img {
	display: flex;
	width: 24px;
}

.list {
	display: flex;
	flex-direction: column;
	list-style-type: none;
}

.list-item {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	gap: 0.5em;
}

.list-item-title {
	display: flex;
	gap: 0.5em;
	align-items: first baseline;
}

@media screen and (max-width: 640px) {
    .hobbies {
        display: none;
    }
}