.card {
    position: relative;
    display: flex;
    flex-grow: 1;
}

.card::after {
    content: '';
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    background: var(--bg-card);
    z-index: -1;
    border-radius: 8px;
}

.card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--bg-card);
    z-index: -2;
    filter: blur(8px);
    border-radius: 8px;
}

.card-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background: rgba(0,0,0,0.75);
    padding: 1em 1.5em;
    border-radius: 4px;
    width: 100%;
}