.App {
	font-family: 'Open Sans', sans-serif;
	background: var(--body-bg);
	text-align: center;
	min-height: 100vh;
	padding: 0;
}

.bg-image {
	/* background: url('./assets/moonbg.png'); */
	background-position: top center;
	background-repeat: no-repeat;
	background-size: 100%;
	display: flex;
	flex-direction: column;
	padding: 0;
}

.bg-wave {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: url( './assets/wave.svg' );
	background-repeat: no-repeat;
	background-position: bottom;
	min-height: 100vh;
	padding: 0;
}

.content {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 2em;
	margin: 0 auto;
	padding: 2em;
	max-width: calc(595px + 4em);
	z-index: 1;
}

.row {
	position: relative;
	display: flex;
	flex-direction: row;
	gap: 2em;
}

.col {
	position: relative;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	gap: 2em;
}

.print {
	display: flex;
	flex-direction: column;
	align-self: center;
	gap: 0.5em;
}

.print-btn {
	display: flex;
	flex-grow: 1;
	align-items: center;
}

.git .link {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5em;
	margin-left: -0.5em;
}

@media screen and (max-width: 640px) {	
	.container {
		background-size: 200%;
	}

	.content {
		flex-direction: column;
		padding: 1em;
	}
	
	.row {
		flex-direction: column;
		gap: 2em;
	}

	.print {
		position: absolute;
		top: 0;
		right: 0;
	}
}

@media print {
	@page {
		size: A4 portrait;
	}

	.print {
		display: none;
	}

	.container {
		background-size: 200%;
	}

	.header-content {
		justify-content: center;
		width: 100%;
	}

	.logo {
		display: none;
	}
}